

/* General Setting */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 10px;
}


/* header setting */

header{
  background: yellow;
  height: 175px;
  margin-bottom: 10px;
}



/* Main setting */
main{
  height: 400px;
  margin-bottom: 10px;
}

main .sidebar,
main .main-content,
main .sidebar2,
main .sidebar3{
  float: left;

}

/*Setting Primo blocco */

main .sidebar{
  width:28%;
  background-color:violet;
  height:175px;
  margin-right: 2%;
}

/* Setting Secondo blocco */

main .main-content{
  width: 38%;
  height:400px;
  background-color: purple;
  margin-right: 2%;
}

/* Setting Terzo blocco */

main .sidebar2{
width: 30%;
background-color: violet;
height: 180px;
}

/* setting quarto blocco */

#Lista{
  margin-top: 30px;
}

/* setting footer */
footer{
  height: 100px;
  background-color: blue
}
