/* General Setting */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

Body::after{
  display: table;
  clear: both;
  content: attr();
}

/* Header Setting */

.Navigator {
  height:125px;
  background-color: yellow;
  margin: 7px 7px;
}

.blocchi{
  float: left;

}
.Primo-blocco{
  background-color: violet;
  height: 300px;
  width: 20%;
  margin-left: 7px;
}
