/* General Setting */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 10px;
}

/* header setting */

header{
  background: yellow;
  height: 175px;
  margin-bottom: 10px;
}



/* Main setting */
main{
  background-color: Grey;
  height: 400px;
  margin-bottom: 10px;
}
